<ul class="list-group">
    a(href="/admin/catalogue" class="list-group-item") gestion du catalogue
    a(href="/admin/user" class="list-group-item") gestion des utilisateurs
    a(href="/admin/commande" class="list-group-item") gestion des commandes
</ul>