extends ../layout

block title 
    title Bienvenu sur mon e commerce

block contenu 
    h1.mb-3 connexion 
    form(action="/connexion" method="POST")
        include ../form
        .mb-3.text-center
            input(type="submit" class="btn btn-warning" value="connexion") 