extends ../layout

block title 
    title Bienvenu sur mon e commerce

block contenu 
    .row
        each produit in produits 
            .col-3.mb-3
                article.card    
                    h2.card-head.px-3 #{ produit.nom }
                    if produit.image 
                        img(src=`${produit.image}`, alt="")
                    else 
                        img(src="https://via.placeholder.com/400x200?text=no image", alt="")
                    footer.card-footer.d-flex.justify-content-between.align-items-center
                        a(href=`/produit/${produit._id}` class="btn btn-outline-dark btn-sm") voir le produit 
                        p.mb-0 
                            if produit.prix
                                span #{ produit.prix } €
                            else 
                                span 0 €
    