extends ../layout

block title 
    title Panier

block contenu 
    h1 Votre panier
    include ../table-panier 
    .text-end 
        a(href="/identification" class="btn btn-outline-dark") s'identifier    

    script(src="/front/panier.js")