extends ../layout

block title 
    title Panier

block contenu 
    h1 Votre panier
    table.table.table-striped 
        thead 
            tr
                th #id 
                th nom 
                th image 
                th prix unitaire 
                th quantité 
                th action 
                th total 
        tbody 
            