extends ../layout

block title 
    title Profil utilisateur

block contenu 
    h1 Bienvenu dans votre profil utilisateur 

    h2 liste des commandes réalisées 

    table.table.table-striped.align-middle 
        thead 
            tr 
                th #num commande 
                th nombre de produit
                th montant commande 
                th date commande 
                th status
                th action 
        tbody 
            for commande in commandes
                tr 
                    td #{commande._id} 
                    td #{commande.produits.length} 
                    td #{commande.total}
                    td #{ new Intl.DateTimeFormat('fr-Fr').format(commande.dt_creation)  }
                    td
                        if commande.status === 0
                            span.badge.bg-warning à traiter 
                        else if commande.status === 1
                            span.badge.bg-info à livrer
                        else if commande.status === 2
                            span.badge.bg-success finalisé
                        else 
                            span.badge.bg-dark.text-white N/A
                    td
                        a(href="/profil/detail/commande" class="btn btn-outline-dark btn-sm") voir le détail   
