extends ../index

block title 
    title gestion des produits du catalogue

block contenu_back
    h1 Gestion des produits du catalogue
    .my-3 
        a(href="/admin/catalogue/new" class="btn btn-outline-primary") créer nouveau produit
    table.table.table-striped.align-middle
        thead 
            tr  
                th #id 
                th nom 
                th image
                th prix 
                th en stock 
                th action 
        tbody 
            tr 
                td 1
                td produit 1
                td 
                    img(src="https://via.placeholder.com/100x50", alt="")
                td 50
                td 
                    span.badge.bg-success en stock 
                td 
                    a(href="#" class="btn btn-warning me-2") update 
                    a(href="#" class="btn btn-danger me-2") delete 
            tr 
                td 2
                td produit 2
                td 
                    img(src="https://via.placeholder.com/100x50", alt="")
                td 150
                td 
                    span.badge.bg-danger indisponible
                td 
                    a(href="#" class="btn btn-warning me-2") update 
                    a(href="#" class="btn btn-danger me-2") delete 

            