.bg-primary.mb-3 
    nav.navbar.navbar-expand.navbar-dark.container 
        a(href="/" class="navbar-brand") ecommerce 
        ul.navbar-nav 
            li.nav-item
                a(href="/" class="nav-link") Accueil
        ul.navbar-nav.ms-auto
            li.nav-item
                a(href="/admin" class="nav-link") Back Office 

