.bg-primary.mb-3 
    nav.navbar.navbar-expand.navbar-dark.container 
        a(href="/" class="navbar-brand") ecommerce
        ul.navbar-nav 
            li.nav-item
                a(href="/" class="nav-link") Accueil
        ul.navbar-nav.ms-auto 
            li.nav-item
                a(href="/panier" class="nav-link") Panier
            if !session.passport
                li.nav-item 
                    a(href="/connexion" class="nav-link") Connexion
            else
                li.nav-item   
                    a(href="/profil" class="nav-link") Profil
                if session.passport.user.role === "admin"
                    li.nav-item
                        a(href="/admin" class="nav-link") Back Office 
                li.nav-item 
                    a(href="/deconnexion" class="nav-link") Deconnexion
            

