.bg-dark 
    nav.navbar.navbar-expand.navbar-dark.container 
        span.navbar-brand passportJS 
        ul.navbar-nav 
            li.nav-item 
                a(href="/inscrire" class="nav-link") inscription
            li.nav-item 
                a(href="/connecter" class="nav-link") connexion
